name: Build

on:
  workflow_dispatch: {}

jobs:
  build:
    strategy:
      matrix:
        include:
        - target: aarch64-linux-android
          os: ubuntu-latest
        - target: x86_64-unknown-linux-gnu
          os: ubuntu-latest
        - target: x86_64-pc-windows-msvc
          os: windows-latest
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.7.3
      - name: Cache Docker images.
        uses: ScribeMD/docker-cache@0.5.0
        if: contains(matrix.target, 'android')
        with:
          key: docker-${{ runner.os }}-${{ hashFiles('.github/workflows/Release.yml') }}
      - name: Install android cross-compilation tools
        uses: taiki-e/setup-cross-toolchain-action@v1
        if: contains(matrix.target, 'android')
        with:
          target: ${{ matrix.target }}@24
      - name: Ensure Rust target is installed
        run: |
          rustup target add ${{ matrix.target }} || true

      - name: Build (release)
        run: |
          cargo build --release --target ${{ matrix.target }}
        env:
          CARGO_PROFILE_RELEASE_LTO: "fat"
          CARGO_PROFILE_RELEASE_CODEGEN_UNITS: 1

      - name: Upload build artifactif
        uses: actions/upload-artifact@v4
        with:
          name: material-updater-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/material-updater*
